body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
body a {
    color: red;
    margin: 0 10px;
    text-decoration: none;
}

header {
    background-color: #333;
    color: white;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    /*padding: 30px 20px 30px 30px;*/
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    /* comment */
    padding: 20px;
    /*padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;*/
    margin: 10px 0;
}
/* . means it is selector class*/
.project {
    background-color: #1ab3d6;
    padding: 15px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

